* {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.square {
    background-color: #ededed;
    width: 20vh;
    height: 20vh;
    margin: 0.5rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}



#board {
    background-color: #333;
    padding: 0.5rem;
    border-radius: 12px;
}

.row {
    display: flex;
}
